<!-- TechU Bank Final Project. Front Contents -->
<!-- Comments: Manuel Tascon Alvarez. Based on static-cells-sample-app repository code. No changes -->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="./components/common/app-navigation-bar.html">

<script src="./app.js"></script>

<dom-module id="app-shell">
  <template>
    <style></style>

    <app-navigation-bar id="navigationBar" title="[[title]]"></app-navigation-bar>
    <paper-toast id="toast" text="[[announce]]"></paper-toast>

    <div id="app__container"></div>
  </template>

  <script>
    const ORIGINAL_TITLE = document.title;

    class AppShell extends Polymer.Element {
      static get is() {
        return 'app-shell';
      }

      static get properties() {
        return {
          title: {
            type: String,
            value: 'Cargando...'
          },
          announce: {
            type: String,
            value: ''
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();

        Cells.Bus.channel('transition').subscribe(this._updateProgressBar.bind(this));
        Cells.Bus.channel('page_title').subscribe(this._updateTitle.bind(this));
        Cells.Bus.channel('error').subscribe(this._handleAnnouncer.bind(this));
        Cells.Bus.channel('broadcast').subscribe(this._handleAnnouncer.bind(this));
      }

      _updateProgressBar(transition) {
        const state = transition.toLowerCase().indexOf('start') === -1 && transition.toLowerCase().indexOf('before') === -1;
        const updateUI = (fn) => this.$.navigationBar[fn]();

        if (state) {
          setTimeout(() => updateUI('hideProgressBar'), 750);
        } else {
          updateUI('showProgressBar');
        }
      }

      _updateTitle(title) {
        this.title = title.toUpperCase();
        document.title = `${this.title} - ${ORIGINAL_TITLE}`;
      }

      _handleAnnouncer(announce) {
        this.set('announce', announce);
        this.$.toast.open();
      }
    }
    window.customElements.define(AppShell.is, AppShell);
  </script>
</dom-module>
