<!-- TechU Bank Final Project. Front -->
<!-- Author: Manuel Tascon Alvarez -->
<!-- accounts-dm uses cells-generic-dp -->
<!-- DM Component to GET accounts list info -->
<!-- customerid and token passed in header -->

<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="accounts-dm">
  <template>
    <style></style>
    
    <cells-generic-dp
      id="accountsDP"
      host="https://files.labtss.com:4430"
      content-type="application/json"
      path="accounts"
      method="GET">
    </cells-generic-dp>
  </template>

  <script>
    class AccountsDM extends Polymer.Element {
      static get is() {
        return 'accounts-dm';
      }

      static get properties() {
        return {
          loaded: {
            type: Boolean,
            value: false
          }
        };
      }
      
      connectedCallback() {
        super.connectedCallback();
        this.addEventListener('request-success', e => this._accountsLoaded(e));
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        this.removeEventListener('request-success', this._accountsLoaded);
       
      }

      loadAccounts(data) {
        this.dispatchEvent(new CustomEvent('accounts-loading-start', { detail: true }));
        var parsedObject = JSON.parse(data);
        var customerid = parsedObject.customerid;
        var token='JWT '+parsedObject.access_token;
        this.$.accountsDP.headers={'customerID' : customerid, 'authorization' : token};
        this.$.accountsDP.generateRequest();
      }

     _accountsLoaded(event) {
        const accounts = event.detail;
        this.dispatchEvent(new CustomEvent('accounts-loading-finish', { detail: false }));
        this.dispatchEvent(new CustomEvent('accounts-loaded', { detail: accounts }));
        this.set('loaded', true);
      }
    }
    customElements.define(AccountsDM.is, AccountsDM);
  </script>
</dom-module>