<!-- TechU Bank Final Project. Front -->
<!-- Author: Manuel Tascon Alvarez -->
<!-- customers-dm uses cells-generic-dp -->
<!-- DM Component to HEAD an specific customer to check existance -->

<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="customers-dm">
  <template>
    <style></style>
    <cells-generic-dp
      id="userExistsDP"
      host="https://files.labtss.com:4430"
      content-type="application/json"
      path="customers"
      method="HEAD" on-request-success="onSuccess" verbose="true">
    </cells-generic-dp>
  </template>

  <script>
    class CustomersDM extends Polymer.Element {
      static get is() {
        return 'customers-dm';
      }

      static get properties() {
        return {
          loaded: {
            type: Boolean,
            value: false
          }
        };
      }
      
      _manageUserExistsDPResponse(e)
      {
        if(e.detail.error==null)
        {
          this.dispatchEvent(new CustomEvent('user-exists', {}));
        }
      }
      onSuccess(e)
      {

      }
      connectedCallback() {
        super.connectedCallback();
        this.addEventListener('request-success', e => this._manageUserExistsDPResponse(e));
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        this.removeEventListener('request-success', this._manageUserExistsDPResponse);
        this.removeEventListener('request-error', this._manageUserExistsDPResponse);
      }
      checkIfUserExists(userIDtoCheck)
      {
        console.log("CheckIfUserExists input:"+userIDtoCheck);
        this.$.userExistsDP.path="customers/"+userIDtoCheck;
        this.$.userExistsDP.generateRequest();  
      }
   }
    customElements.define(CustomersDM.is, CustomersDM);
  </script>
</dom-module>