<!-- TechU Bank Final Project. Front -->
<!-- Author: Manuel Tascon Alvarez -->
<!-- register-dm uses cells-generic-dp -->
<!-- DM Component to POST new customers data -->
<!-- customerid and token passed in header -->


<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="register-dm">
  <template>
    <style></style>

    <cells-generic-dp
      id="registerDP"
      host="https://files.labtss.com:4430"
      content-type="application/json"
      path="customers"
      method="POST">
    </cells-generic-dp>
  </template>
  <script>
    class RegisterDM extends Polymer.Element {
      static get is() {
        return 'register-dm';
      }

      static get properties() {
        return {
          loaded: {
            type: Boolean,
            value: false
          }
        };
      }
      hello()
      {
        console.log("Hello");
      }
      sendRegister(registryData)
      {
        const dataToSend = registryData;
        this.$.registerDP.addEventListener('request-success', this._manageRegisterDPResponse);
        this.$.registerDP.addEventListener('request-error', this._manageRegisterDPResponse);
        this.$.registerDP.body={'userID':dataToSend.userID,'userName':dataToSend.userName, 'userLastName':dataToSend.userLastName, 'userPasswordValue':dataToSend.userPass};
        this.$.registerDP.generateRequest();
      }
      _manageRegisterDPResponse(e)
      {
          //on success
          this.dispatchEvent(new CustomEvent('register-success', {}));
      }

      connectedCallback() {
        super.connectedCallback();
        this.addEventListener('request-success', e => this._manageRegisterDPResponse(e));
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        this.removeEventListener('request-success', this._manageRegisterDPResponse);
      }
   }
    customElements.define(RegisterDM.is, RegisterDM);
  </script>
</dom-module>
