<!-- TechU Bank Final Project. Front -->
<!-- Author: Manuel Tascon Alvarez -->
<!-- login-dm uses cells-generic-dp -->
<!-- DM Component to POST user-password info for a login operation -->

<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="login-dm">
  <template>
    <style></style>

    <cells-generic-dp
      id="loginDP"
      host="https://files.labtss.com:4430"
      content-type="application/json"
      path="customer-password/validations"
      method="POST">
    </cells-generic-dp>
  </template>

  <script>
    class LoginDM extends Polymer.Element {
      static get is() {
        return 'login-dm';
      }

      static get properties() {
        return {
          loaded: {
            type: Boolean,
            value: false
          }

        };
      }
      
      _manageLoginDPResponse(e)
      {
         //on success
          if (e.detail.token!='')
          {
            const myUser = {
              name: e.detail.name,
              customerid: e.detail.customerid,
              access_token:e.detail.token,
              loggedin: true
            };  
            localStorage.setItem('myPolymerStorage', JSON.stringify(myUser));
            this.dispatchEvent(new CustomEvent('login-success', 
            {
              name: e.detail.name,
              customerid: e.detail.customerid,
              access_token:e.detail.token,
              loggedin: true,
              correct: '0'
            } ));
          }
          else
          {
            this.dispatchEvent(new CustomEvent('login-failed', {'correct':'1'}));
          }  
      }
      connectedCallback() {
        super.connectedCallback();
        this.addEventListener('request-success', e => this._manageLoginDPResponse(e));
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        this.removeEventListener('request-success', this._manageLoginDPResponse);
      }
      sendlogin(loginData)
      {
        const dataToSend = loginData;
        this.$.loginDP.addEventListener('request-success', this._manageLoginDPResponse);
        this.$.loginDP.addEventListener('request-error', this._manageLoginDPResponse);
        this.$.loginDP.body={'userValue':dataToSend.userName,'passwordValue':dataToSend.userPass};
        this.$.loginDP.generateRequest();
        
      }
    }
    customElements.define(LoginDM.is, LoginDM);
  </script>
</dom-module>