<!-- TechU Bank Final Project. Front -->
<!-- Author: Manuel Tascon Alvarez -->
<!-- passreset-dm uses cells-generic-dp -->
<!-- DM Component to POST password-reset for an specific user mail address -->

<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="passreset-dm">
  <template>
    <style></style>

    <cells-generic-dp
        id="passwordResetDP"
        host="https://files.labtss.com:4430"
        content-type="application/json"
        path="customers-passwords/resets"
        method="POST">
    </cells-generic-dp>
  </template>

  <script>
    class PassresetDM extends Polymer.Element {
      static get is() {
        return 'passreset-dm';
      }

      static get properties() {
        return {
          loaded: {
            type: Boolean,
            value: false
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();

        this.addEventListener('request-success', e => this._sentMail(e));
      }

      disconnectedCallback() {
        super.disconnectedCallback();

        this.removeEventListener('request-success', this._sentMail);
      }

      sendMail(data) {
        const mailAddress = data;
        this.$.passwordResetDP.body={'mail' : mailAddress.email};
        this.dispatchEvent(new CustomEvent('sending-mail-start', { detail: true }));
        this.$.passwordResetDP.body={'mail':mailAddress.email};
        this.$.passwordResetDP.generateRequest();
      }

      _sentMail(event) {
        const message = event.detail;
        this.dispatchEvent(new CustomEvent('sending-mail-finish', { detail: false }));
        this.dispatchEvent(new CustomEvent('reset-sent', {}));
      }
    }

    customElements.define(PassresetDM.is, PassresetDM);
  </script>
</dom-module>
