<!-- TechU Bank Final Project. Front Contents -->
<!-- Comments: Manuel Tascon Alvarez. Based on static-cells-sample-app repository code. -->
<!-- Includes an additional paper-menu-button -->

<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../bower_components/cells-theme-base/cells-theme-base.html">
<link rel="import" href="../../../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">



<dom-module id="app-navigation-bar">
  <template>
    <style is="custom-style">
      #header {
        --cells-component-app-header-bg-color :var(--bbva-navy, #2dcccd);
        --cells-component-app-header-color	: white;

        };
      .header-with-secondary-style {
        background-color: #f4f4f4;
      }        
      paper-progress {
        width: 100%;
      }
      #menu_button {
        color: white;	
      } 

      #mymenu {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 500;
      }
      paper-item a {
        text-decoration: none;
      }
    </style>

    <cells-component-app-header id="header"
      text="TECHU BANK"
      hidden$=[[hiddenHeader]]>
     </cells-component-app-header>
    <paper-progress id="progress" indeterminate hidden$=[[hiddenProgress]]></paper-progress>
    <paper-menu-button id="mymenu">
      <paper-icon-button id="menu_button" icon="coronita:menu" slot="dropdown-trigger"></paper-icon-button>
      <paper-listbox slot="dropdown-content">
        <paper-item><a href="/#/products">Productos</a></paper-item>
        <paper-item><a href="/#/logout">Salir</a></paper-item>
      </paper-listbox>
    </paper-menu-button>
    <div style="display: none">
    <a href="/#">Home</a> 
    <a href="/#/login">Login</a> 
    <a href="/#/loginerror">Login Error</a> 
    <a href="/#/logout">LoginOut</a> 
    <a href="/#/register">Registro</a> 
    <a href="/#/recover-password">Recupere su password</a> 
    <a href="/#/products">Productos</a> 
    <a href="/#/product-transactions">Movimientos</a> 
    <button on-click="_toggleAuthenticationState">Toggle authentication state</button>
  </div>
  </template>

  <script>
    class AppNavigationBar extends Polymer.Element {
      static get is() {
        return 'app-navigation-bar';
      }

      static get properties() {
        return {
          title: {
            type: String,
            value: ''
          },
          hiddenProgress: {
            type: Boolean,
            value: true
          }
        };
      }

      showProgressBar() {
        this.set('hiddenProgress', false);
      }

      hideProgressBar() {
        this.set('hiddenProgress', true);
      }

      _random() {
        const possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        let text = '';

        for (let i = 0; i < 5; i++) {
          text += possible.charAt(Math.floor(Math.random() * possible.length));
        }

        return text;
      }

      _toggleAuthenticationState() {
        const currentState = sessionStorage.getItem('isLogged') === "true" || false;
        const message = 'You have toggled ' + ( currentState ? 'off' : 'on' ) + ' your authentication.';

        sessionStorage.setItem('isLogged', !currentState);

        Cells.Bus.channel('broadcast').publish(message);

        // or we could have fired an event and handle it on app-shell instead of use Bus
      }
      _leftIconClicked(e)
      {
        console.log("Left Icon");
        Cells.Router.navigate('products', {});
      }
      _rightIconClicked(e)
      {
        console.log("Rigth Icon");
        window.sessionStorage.setItem('isLogged', false);
        Cells.Router.navigate('logout', {});
      
      }
    }

    customElements.define(AppNavigationBar.is, AppNavigationBar);
  </script>
</dom-module>
