<!-- TechU Bank Final Project. Front -->
<!-- Author: Manuel Tascon Alvarez -->
<!-- login page uses cells-login-view, cells-molecule-spinner and Polymer dom-repeat -->
<!-- DM for HTTP: login-dm -->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-molecule-spinner/cells-molecule-spinner.html">
<link rel="import" href="../../bower_components/cells-login-view/cells-login-view.html">
<link rel="import" href="../components/login/login-dm.html">

<dom-module id="login-page">
  <template>
    <style is="custom-style">
        
        #login {
        --cells-login-view-login-form-input-background-color: rgb(26, 110, 146);
        --cells-login-view-login-form-input-text-color: white;
        --cells-login-view-background-image: '';
        --cells-login-view-background-color: #2dcccd;

        position: absolute;
        bottom: 0em;
        right: 0em;
        left: 0em;
        top: 0em;
        z-index: 1000;
        };
    </style>
    <login-dm id="loginDM" on-login-success="userLoaded" 
      on-login-failed="navigateLoginFailed"></login-dm>
    
    <cells-login-view id="login" on-login="onLoginFormValidationSuccess" 
      on-request-register="register" 
      on-request-password-recover="recoverPassword"
      allow-registration
      clear-id-icon="coronita:close"
      clear-pwd-icon="coronita:close"
      toggle-pwd-icon="coronita:visualize"
      toggle-pwd-icon-toggled="coronita:hide"
      start-icon="coronita:lock"
      end-icon="coronita:unlock"
      allowRegistration="true"
      userReminded="true"
      labelForgetPassword=""    
      header-image="../app/images/TechuLoginV1.png"></cells-login-view>
  </template>

  <script>
    class LoginPage extends Polymer.Element {
      static get is() {
        return 'login-page';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          storedUser: Object
          }
      };
      

      connectedCallback() {
        super.connectedCallback();
        this.$.login.reset();
      }
      startLoad() {
      }

      finishLoad() {
      }
      onLoginFormValidationSuccess(e) {
        const detail = e.detail;
        const myLoginParams = {
            'userName' : e.detail.userId,
            'userPass' : e.detail.password
        };
        this.$.loginDM.sendlogin(myLoginParams);
      }
      onLoginSuccess(e) {
      }  
      userLoaded(e) {
        const user = e.detail;
        this.$.login.loadingSuccess();
        window.sessionStorage.setItem('isLogged',true);
        const Z = localStorage.getItem('myPolymerStorage');

        Cells.Router.navigate('products', {'customerid' : 1});

        setTimeout(() => {
          this.$.login.reset();
          this.$.login.loadingSuccess({
          });
        }, 2500);
        
      }
      navigateLoginFailed()
      {
        Cells.Router.navigate('loginerror', {});
        this.connectedCallback();
      }
      postLoginNavigate(e)
      {
        console.log('postLogin Navigate');

      }
      register()
      {
        Cells.Router.navigate('register', {});

      }
      recoverPassword()
      {
        Cells.Router.navigate('recover-password', {});
      }
    }  
    window.CellsBehaviors.i18nBehavior;
    customElements.define(LoginPage.is, LoginPage);
  </script>
</dom-module>