<!-- TechU Bank Final Project. Front -->
<!-- Author: Manuel Tascon Alvarez -->
<!-- loginerror page uses cells-middle-modal and paper-button -->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/cells-middle-modal/cells-middle-modal.html">


<dom-module id="loginerror-page">
  <template>
    <style is="custom-style">
       #confirmButton {
          background:#2dcccd;
          color: white;
          margin-left: 2em;
        }
    </style>
 
    <cells-middle-modal id='modal-example' aria-labelledby="modal-aria-label" open="true" focus-target="btn1">
      <div class="header" id="modal-aria-label">Error en el Login</div>
      <div class="body">
        <paper-button id="confirmButton" on-click="navigateLogin">Volver</paper-button></div>
  </cells-middle-modal>
    
  </template>

  <script>
    class LoginerrorPage extends Polymer.Element {
      static get is() {
        return 'loginerror-page';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          }
        };
      

      connectedCallback() {
        super.connectedCallback();

      }
      startLoad() {
      }

      finishLoad() {

      }
      navigateLogin()
      {
        console.log('navigateLogin');
        Cells.Router.navigate('login', {});
        
      }      
    }  
   
    customElements.define(LoginerrorPage.is, LoginerrorPage);
  </script>
</dom-module>