<!-- TechU Bank Final Project. Front -->
<!-- Author: Manuel Tascon Alvarez -->
<!-- logout page uses cells-middle-modal and paper-button -->
<!-- Page to close session. Clears Local Storage and set isLogged=false in SessionStorage -->


<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/cells-middle-modal/cells-middle-modal.html">

<dom-module id="logout-page">
  <template>
    <style>
        #confirmButton {
          background:#2dcccd;
          color: white;
          margin-left: 2em;
        }
        .body {
          text-align: center;
        }
        .header {
          margin-left: 1em;
        }
    </style>
    <cells-middle-modal id='modal-example' aria-labelledby="modal-aria-label" open="true" focus-target="btn1">
      <div class="header" id="modal-aria-label">Hasta pronto</div>
      <div class="body">
        Gracias por utilizar TechU Bank
        <paper-button id="confirmButton" raised on-click="navigateLogin">Volver a Entrar</paper-button>
      </div>
     </cells-middle-modal>
  </template>
  <script>
    class LogoutPage extends Polymer.Element {
      static get is() {
        return 'logout-page';
      }

      static get properties() {
        return {
          }
        };
      

      connectedCallback() {
        super.connectedCallback();
        const myChannel = Cells.Bus.channel('logout');
        myChannel.subscribe(this._handleAnnouncer.bind(this));
      }
 
      _handleAnnouncer(msg) {
          window.sessionStorage.setItem('isLogged', false);
          window.localStorage.clear();
      }
      
      startLoad() {
      }

      finishLoad() {
      }

      navigateLogin()
      {
        console.log('navigateLogin');
        Cells.Router.navigate('login', {});
      } 
     
    }  
   
    customElements.define(LogoutPage.is, LogoutPage);
  </script>
</dom-module>
