<!-- TechU Bank Final Project. Front -->
<!-- Author: Manuel Tascon Alvarez -->
<!-- products page uses cells-molecule-transaction-list-item, cells-molecule-spinner and Polymer dom-repeat -->
<!-- DM for HTTP: transactions-dm -->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-molecule-transaction-list-item/cells-molecule-transaction-list-item.html">
<link rel="import" href="../../bower_components/cells-molecule-spinner/cells-molecule-spinner.html">
<link rel="import" href="../components/transactions/transactions-dm.html">


<dom-module id="product-transactions-page">
  <template>
    <style is="custom-style">
      #item_tx {
        --cells-molecule-transaction-list-item-item-active-background-color	: rgb(212, 250, 251);
        border-bottom: 1px solid rgb(20, 142, 146);
        margin-top: -3px; 
      };
      header {
        margin-left: 2.68em;
        margin-bottom: 2em;
      };
      li {
        padding-top: 3px;
      };
      ul {
        list-style: none;
      };
    </style>

    <header>
      <h2>Movimientos de su cuenta</h2>
      <strong>Su cuenta</strong> [[params.acc_alias]]<br>
      <strong>Su IBAN</strong> [[params.acc_IBAN]]
    </header>
    <transactions-dm
      id="transactionsDM"
      on-transactions-loaded="transactionsLoaded"
      on-transactions-loading-start="startLoad"
      on-transactions-loading-finish="finishLoad">
    </transactions-dm>    

    <ul>
      <template is="dom-repeat" items="[[transactions]]">
        <li> {{item.date}}  
          <cells-molecule-transaction-list-item id="item_tx" transaction="{{item.transaction_detail}}" on-click="transactionClicked">Movimiento {{item.concept}} {{item.transaction_detail}}
          </cells-molecule-transaction-list-item>
        </li>
      </template>
    </ul>
    <cells-molecule-spinner
      id="loader"
      hidden>
    </cells-molecule-spinner>
  </template>

  <script>
    class ProductTransactionsPage extends Polymer.Element {
      static get is() {
        return 'product-transactions-page';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          transactions: {
            type: Array,
            value: []
          },
          params: {
            type: Object,
            value: {},
            observer: '_updateTransactions'
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();
      }

      _updateTransactions()
      {
        const productId = this.get('params.acc_id');
        const alias = this.get('params.alias');
        this.$.transactionsDM.loadTransactions(localStorage.getItem("myPolymerStorage"), productId);
         
      }
      transactionClicked(e) {
          var clicked_trx = e.model.item;
      }

      transactionsLoaded(e) {
        let transactions = [];
        e.detail.forEach(element => {
          let transaction_detail = {'id': element.transaction_id, 'concept' : element.transaction_description
          , 'localAmount': { 'amount': element.transaction_amount, 'currency' : 'EUR' }
          , 'operationDate' : element.transaction_date
          , 'tags': [], 'additionalInformation': []};
          const formatted_date = (element.transaction_date.slice(0,10)).split("-").reverse().join("/"); 
          transactions.push({'id' : element.transaction_id, 'concept' : element.transaction_description, 'transaction_detail' : transaction_detail, 'date' : formatted_date});
        });

        this.set('transactions', Object.assign([], transactions));
      }
      startLoad() {
        this.$.loader.removeAttribute('hidden');
      }
      finishLoad() {
        this.$.loader.setAttribute('hidden', true);
      }
    }

    customElements.define(ProductTransactionsPage.is, ProductTransactionsPage);
  </script>
</dom-module>