<!-- TechU Bank Final Project. Front -->
<!-- Author: Manuel Tascon Alvarez -->
<!-- products page uses cells-product-item and Polymer dom-repeat -->
<!-- DM for HTTP: accounts-dm -->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />
<link rel="import" href="../../bower_components/cells-product-item/cells-product-item.html">
<link rel="import" href="../components/accounts/accounts-dm.html">


<dom-module id="products-page">
  <template>
  <style is="custom-style">
      #item_acc {
        --cells-product-item-active-background-color: rgb(212, 250, 251);
        border-bottom: 1px solid rgb(20, 142, 146);
        margin-top: -3px; 
      };    
      header {
        margin-left: 2.68em;
        margin-bottom: 2em;
        margin-top: 3em;
      };
      li {
        padding-top: 3px;
      };
      ul {
        list-style: none;
      }    
    
  </style>

  <header>
    <h1><strong>  Bienvenido </strong></h1>
    <h2>Sus cuentas, {{customerName}}</h2>
  </header>
  <accounts-dm
    id="accountsDM"
    on-accounts-loaded="accountsLoaded"
    on-accounts-loading-start="startLoad"
    on-accounts-loading-finish="finishLoad">
  </accounts-dm>    
  
  
  <ul>
    <template is="dom-repeat" items="{{accounts}}">
      <li>
        <cells-product-item id="item_acc"
          name={{item.alias}}
          primary-amount={{item.amount}}
          description={{item.description}}
          local-currency="EUR" on-click="accountClicked">
        </cells-product-item>
      </li>
    </template>
  </ul>
</template>

  <script>
    class ProductsPage extends Polymer.Element {
      static get is() {
        return 'products-page';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          customerName : {
            type: String,
            value: ''
          },
          params: {
            type: Object,
            value: {},
            observer : '_reloadProducts'
          },
          accounts: {
            type: Array,
            value: []
          }
        };
      }

      _reloadProducts()
      {
        const localStoredUser = localStorage.getItem("myPolymerStorage");
        this.customerName = (JSON.parse(localStoredUser)).name;
        this.$.accountsDM.loadAccounts(localStoredUser);
      
      }

      connectedCallback() {
        super.connectedCallback();

      }

      startLoad() {
        
      }

      finishLoad() {
      }

      accountsLoaded(e) {
        let accounts = [];
        e.detail.forEach(element => {
          let description = {"value":element.acc_IBAN,"masked":false,"content":element.acc_alias};
          let amount = {"label": "Disponible", "amount": element.acc_balance, "currency": "EUR"};
          accounts.push({"description":description,"alias":element.acc_type,"IBAN":element.acc_IBAN,"amount":amount,"acc_id":element.acc_id});
        });
        
        this.set('accounts', Object.assign([], accounts));
      }
      accountClicked(e) {
          var clicked_acc = e.model.item;
          const routeParams = {
            'acc_id': clicked_acc.acc_id,
            'acc_alias': clicked_acc.alias,
            'acc_IBAN': clicked_acc.IBAN
          };
          Cells.Router.navigate('product-transactions', routeParams);
      }
    }

    customElements.define(ProductsPage.is, ProductsPage);
  </script>
</dom-module>
