<!-- TechU Bank Final Project. Front -->
<!-- Author: Manuel Tascon Alvarez -->
<!-- recover-passowrd with auto-validate field -->
<!-- Page to reset user password uses cells-molecule-input and paper-button -->
<!-- DMs for HTTP passreset-dm -->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../components/login/passreset-dm.html">

<dom-module id="recover-password-page">
  <template>
    <style is="custom-style">
        header {
            margin-left: 2.68em;
            margin-bottom: 2em;
            margin-top: 3em;
        };
        cells-molecule-input {
           margin-right: 2em;
        }
        #sendMailButton{
           color:white;
           background-color: #2dcccd;
        }      
    </style>
    <br>
    <br>
    <header>Introduzca el correo con el que está registrado en TechU Bank</header>
    <passreset-dm id="passresetDM" on-reset-sent="resetSent"></passreset-dm>
    
    <ul >    
        <cells-molecule-input id="email" label="Correo electrónico" type="email" auto-validate disabled="{{formNotReady}}"></cells-molecule-input>
        <br>
        <paper-button class="w3-blue" id="sendMailButton" on-click="submitForm" disabled="{{formNotReady}}" raised>
        <iron-icon icon="icons:send"></iron-icon>
            Recuperar su password
        </paper-button>
        <br>
        <br>
        {{passwordMailSentMsg}}
        <br>
        <a href="/#/login" on-click="resetForm">Volver a intentar el Login</a>
       
    </ul>   

    
  </template>

  <script>
    class RecoverPasswordPage extends Polymer.Element {
      static get is() {
        this.formNotReady = false;
        return 'recover-password-page';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {

        };
      }
      connectedCallback() {
        super.connectedCallback();
        console.log("Recover password callback");
      }
      startLoad() {
      }

      finishLoad() {
      }      
      submitForm() 
      {
        this.userRegisteredMsg = '';  
        var email=this.$.email.value;
        const recoverymailData = {
            'email' : email   
        };
        this.$.passresetDM.sendMail(recoverymailData);
        this.formNotReady=true;
      }

      resetSent()
      {
        this.formNotReady=true;
        this.passwordMailSentMsg = 'Password de usuario reseteado. En breve recibirá un correo';
      }      
      resetForm()
      {
        this.formNotReady = false;
      }
    }

    customElements.define(RecoverPasswordPage.is, RecoverPasswordPage);
  </script>
</dom-module>