<!-- TechU Bank Final Project. Front -->
<!-- Author: Manuel Tascon Alvarez -->
<!-- register-page with auto-validate field for mail address and repeat password check -->
<!-- Page for User Registration uses cells-molecule-input, cells-middle-modal and paper-button -->
<!-- DMs for HTTP: register-dm and customers-dm -->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../../bower_components/cells-middle-modal/cells-middle-modal.html">
<link rel="import" href="../components/register/register-dm.html">
<link rel="import" href="../components/register/customers-dm.html">
 
<dom-module id="register-page">
    <template>
      <style is"custom-style">
        header {
            margin-left: 2.68em;
            margin-bottom: 2em;
            margin-top: 3em;
        };
        cells-molecule-input {
           margin-right: 2em;
        }
        #my_button{
           color:white;
           background-color: #2dcccd;
        }
        #confirm_button{
            color:white;
            background-color: #2dcccd;           
        }
        #myDialog{
           z-index: 100;
        }
                    
       </style>        
        <register-dm id="registerDM" on-register-success="userRegistered"></register-dm>
        <customers-dm id="customersDM" on-user-exists="userExists"></customers-dm>
        <header>Introduzca sus datos personales para registrarse en TechUBank</header>
        <ul id="register_list">    
            <br>
            <cells-molecule-input id="name" label="Nombre"></cells-molecule-input>
            <br>
            <cells-molecule-input id="lastname" label="Apellidos"></cells-molecule-input>
            <br>
            <cells-molecule-input id="email" label="Correo electrónico" type="email" auto-validate></cells-molecule-input>
            <br>
            <cells-molecule-input id="userpassword" label="Clave" type="password"></cells-molecule-input>
            <br>
            <cells-molecule-input id="userpassword2" label="Repita la Clave " type="password" on-cells-molecule-input-blur="checkIfPasswordMatches"></cells-molecule-input>

            <br>  
            <paper-button class="w3-blue" id="my_button" on-click="presubmitForm" disabled="{{formNotReady}}" raised>
                <iron-icon icon="icons:send"></iron-icon>
                ENVIAR
            </paper-button>
            {{userRegisteredMsg}}
        </ul>   
   
        <cells-middle-modal id="myDialog" aria-labelledby="modal-aria-label" focus-target="reject_button" open="{{openModal}}">
            <div class="header" id="modal-aria-label">Confirmación</div>
            <div class="body" id="aria-text">
                    ¿Está seguro de que quiere registrar este usuario?
                <div class="buttons">
                    <ul>
                        <paper-button id="confirm_button" on-click="submitForm">Si</paper-button>
                        <paper-button id="reject_button" on-click="hideModal">No</paper-button>
                    </ul>
                </div>
            </div>    
        </cells-middle-modal>
    </template>
</dom-module>

<script>

class RegisterPage extends Polymer.Element {
      static get is() {
        return 'register-page';
      }
      static get properties() {
        return {
            username: {
                type: String,
                value: ""
            },
            error_username: {
                type: String,
                value:"Username Is Invalid!"
            }
        };
      }
      connectedCallback() {
        super.connectedCallback();
        this.addEventListener('user-exists', this._manageUserExists);
        this.formReady=true;
        this.openModal=false;
      }

      checkIfMailExists()
      {
        this.userRegisteredMsg = "";  
        this.formNotReady = false;    
        var email=this.$.email.value;
        this.$.customersDM.checkIfUserExists(email);
      }
      presubmitForm()
      {
        this.openModal = true;
      }
      hideModal()
      {
        this.openModal = false;        
      }
      submitForm() 
      {
        this.userRegisteredMsg = '';  
        this.openModal = false;
        var name=this.$.name.value;
        var lastname=this.$.lastname.value;
        var email=this.$.email.value;
        var password=this.$.userpassword.value;
        const myRegisterData = {
            'userID' : email,   
            'userName' : name,
            'userLastName' : lastname,
            'userPass' : password
            };
        this.$.registerDM.sendRegister(myRegisterData);
      }
      _manageUserExists()
      {
        this.userRegisteredMsg = 'El usuario ya existe. Pruebe con otro mail';     
        this.formNotReady = true;            
      }
      userExists()
      {
        this.userRegisteredMsg = 'El usuario ya existe. Pruebe con otro mail';     
        this.formNotReady = true;    
      }
      checkIfPasswordMatches()
      {
        const password = this.$.userpassword.value;
        const repeatedPassword = this.$.userpassword2.value;
        if(password != repeatedPassword)
        {
            this.userRegisteredMsg = 'Las dos claves no coinciden';     
            this.formNotReady = true;
            setTimeout(()=>{this.userRegisteredMsg='';}, 2000);
        }   
        else
        {
            this.userRegisteredMsg = '';     
            this.formNotReady = false;
        }        
      }
      userRegistered()
      {
        this.userRegisteredMsg = 'Usuario registrado con exito';
      }
    }     
    customElements.define(RegisterPage.is, RegisterPage);
</script>