<!-- TechU Bank Final Project. Front -->
<!-- Author: Manuel Tascon Alvarez -->
<!-- transactions-dm uses cells-generic-dp -->
<!-- DM Component to GET transactions list info -->
<!-- customerid and token passed in header -->


<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="transactions-dm">
  <template>
    <style></style>

    <cells-generic-dp
      id="transactionsDP"
      host="https://files.labtss.com:4430"
      content-type="application/json"
      method="GET">
    </cells-generic-dp>
  </template>

  <script>
    class TransactionsDM extends Polymer.Element {
      static get is() {
        return 'transactions-dm';
      }

      static get properties() {
        return {
          loaded: {
            type: Boolean,
            value: false
          }
        };
      }
      
      connectedCallback() {
        super.connectedCallback();
        this.addEventListener('request-success', e => this._transactionsLoaded(e));
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        this.removeEventListener('request-success', this._transactionsLoaded);
       
      }

      loadTransactions(data, product_id) {
        var acc_id = product_id;
        this.dispatchEvent(new CustomEvent('transactions-loading-start', { detail: true }));
        var parsedObject = JSON.parse(data);
        var customerid = parsedObject.customerid;
        var token='JWT '+parsedObject.access_token;
        this.$.transactionsDP.headers={'customerID' : customerid, 'authorization' : token};
        this.$.transactionsDP.path="accounts/"+acc_id+"/transactions";
        this.$.transactionsDP.generateRequest();
      }

      _transactionsLoaded(event) {
        const transactions = event.detail;

        this.dispatchEvent(new CustomEvent('transactions-loading-finish', { detail: false }));
        this.dispatchEvent(new CustomEvent('transactions-loaded', { detail: transactions }));
        this.set('loaded', true);
      }

    }
    customElements.define(TransactionsDM.is, TransactionsDM);
  </script>
</dom-module>